/node_modules
/public/storage
/public/hot
/storage/*.key
/.idea
Homestead.json
Homestead.yaml
.env
/public/uploads
public/bg--2.txt
routes/web.php
routes/web.bak
public/avia--5.txt
public/bng--1.txt
public/bng--2.txt
public/leg--7.txt
public/sw--2.txt
public/*.txt

public/usertable.json
